/* .form-container {
  margin-top: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.form-column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button.update-button:hover {
  background-color: #0056b3;
} */

/* rightForm.css */

.form-container {
  margin-top: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.form-column {
  flex: 1;
  margin-right: 10px;
}

.form-column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: calc(100% - 10px); /* Adjusting width to accommodate margin */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px; /* Adjusting padding for button */
  cursor: pointer;
}

button.update-button:hover {
  background-color: #0056b3;
}
