.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
}
.container {
  display: flex;
  height: 100%;
}
.sidebar {
  width: 20%;
  height: 1000px; ;
  background-color:  #fae418;
/* Set sidebar width */
/* Make the sidebar full height */
 
}
.main-content {
  margin-top: -100px;
  width: 80%;
  height: 100%;
  background-color: #e0e0e0;
}
.header {
  border-bottom: 7px solid #cebcbc;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}
.display {
  background-color: #ffffff;
  margin-left: 39px;
  margin-top: 29pxks;
  margin-right: 55px;
}
.formContainer {
  background-color: #ffffff;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.form-box {
  border: 1px solid #e3dede;
  border-radius: 1px;
  width: 443px;
  height: fit-content;
  /* padding: 20px; */
  /* margin: 43px; */
  margin-top: 0%;
  box-shadow: 0 2px 5px rgba(102, 100, 100, 0.1);
}




.container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.planName {
  font-weight: bold;
  color: rgb(55, 141, 253);
  margin-right: 10px; /* Add some spacing between elements */
}
.name {
margin: 10px;
}

.plan{
  margin-left: 10px;
}